<h1>Listing cheerups</h1>

<table id="cheerups">
  <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Cheerpoints</th>
        <th>Vote</th>
        <th>User</th>
        <th>Created</th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody class="page">
    <%= render @cheerups %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheerup', new_cheerup_path %>
<%= paginate @cheerups %>
