#the_canvas {
  height: 360px;
  width: 530px;
  background-color: black;
}

.a_cheerup {
  margin-bottom: 50px;
}

#the_image {
  height: 250px;
  width: 470px;
  background-image:url('motivation2.png');
  background-size: cover;
  position: relative;
  left: 30px;
  top: 20px;
}

#default_image_thumbnails {
  margin-bottom: 30px;
  height: 40px;
}

.thumbnail {
  width: 80px;
  height: 50px;
  background-size: cover;
  float: left;
  margin-right: 10px;
}

#thumb1 {
  background-image:url('motivation1.png');
}

#thumb2 {
  background-image:url('motivation2.png');
}

#thumb3 {
  background-image:url('littlehouse.jpg');
}

#thumb4 {
  background-image:url('paradise.jpg');
}

#thumb5 {
  background-image:url('road.jpg');
}

#thumb6 {
  background-image:url('yellowfield.jpg');
  margin-right: 0px;
}

#main_text, #sub_text {
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  position: relative;
}

#main_text {
  top: 30px;
  font-size: 2em;
}

#sub_text {
  top: 35px;
}


