body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #333;
  &:visited {
    color: #333;
  }
  &:hover {
    color: #333;
    background-color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table {
  font-family: sans-serif;
  font-size:12px;
  background:#fff;
  border-collapse:collapse;
  text-align:center;margin:20px;
}

thead {
  padding:10px 8px;
}

th {
  font-size:14px;
  font-weight:normal;
  color:#039;
  border-bottom:2px solid #000;
  padding:10px 8px;
}

td {
  color:#669;
  padding:9px 8px 0;
}

li, p {
  font-family: sans-serif;
}

li {
  display: inline;
  padding: 5px
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

div .activity, td {
  font-family: sans-serif;
}



#leaderboard, #activities {
  margin: 15px 0px; 
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: gray;
}

header {
  width:100%;
  background-color: #533354;
  height: 50px;
}

header div h1 {
  position: absolute;
  top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:2.4em
}

#sidebar {
  display:inline-block;
}

#sidebar h2 {
  margin-bottom:0;
}

button {
  display: inline;
}